Repository contentful/marketplace-partner-apps, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/team-integrations, @contentful/team-developer-experience, @zzzarius, @vipulchadda, @surya-sudoboat, @two-point-o, @marcinwysocki, @foteinigk, @igoradamenko, @weronika-kurczyna, @carmelc

chore: resolve locale issue
  apps/adapt-essentials-asset-fields/src/components/hooks/useLocales.tsx
  apps/adapt-essentials-asset-fields/tsconfig.json
Owners: @zzzarius

chore: resolve adapt-essentials-asset-fields locale issue (#1094)
  apps/adapt-essentials-asset-fields/src/components/hooks/useLocales.tsx
  apps/adapt-essentials-asset-fields/tsconfig.json
Owners: @zzzarius

Uploadcare: Fix PostCSS-related vulnerability
  apps/uploadcare/OVERRIDES.md
  apps/uploadcare/package-lock.json
  apps/uploadcare/package.json
Owners: @igoradamenko

Uploadcare: Make uploading flow work with Blocks v0.32.1
  apps/uploadcare/src/locations/Dialog.tsx
  apps/uploadcare/src/locations/Field/Thumbnail.tsx
  apps/uploadcare/src/types.ts
Owners: @igoradamenko

Uploadcare: Remove nth-check override because it breaks `npm ci`
  apps/uploadcare/OVERRIDES.md
  apps/uploadcare/package-lock.json
  apps/uploadcare/package.json
Owners: @igoradamenko

Uploadcare: Override TS version in react-scripts
  apps/uploadcare/OVERRIDES.md
  apps/uploadcare/package.json
Owners: @igoradamenko

Uploadcare: Add nvmrc
  apps/uploadcare/.nvmrc
Owners: @igoradamenko

Uploadcare: Minor deps update
  apps/uploadcare/package-lock.json
  apps/uploadcare/package.json
Owners: @igoradamenko

Uploadcare: Update emotion to v11
  apps/uploadcare/package-lock.json
  apps/uploadcare/package.json
  apps/uploadcare/src/locations/ConfigScreen/FieldSelector.tsx
  apps/uploadcare/src/locations/ConfigScreen/index.tsx
  apps/uploadcare/src/locations/Dialog.tsx
  apps/uploadcare/src/locations/Field/OpenDialogButton.tsx
  apps/uploadcare/src/locations/Field/Thumbnail.tsx
  apps/uploadcare/src/locations/Field/Thumbnails.tsx
Owners: @igoradamenko

Uploadcare: Update @uploadcare/blocks to v0.35.2
  apps/uploadcare/package-lock.json
  apps/uploadcare/package.json
Owners: @igoradamenko

Uploadcare: Update @dnd-kit/sortable to v8
  apps/uploadcare/package-lock.json
  apps/uploadcare/package.json
Owners: @igoradamenko

Uploadcare: Update contentful-management to v11
  apps/uploadcare/package-lock.json
  apps/uploadcare/package.json
Owners: @igoradamenko

fix: Uploadcare app (#1133)
  apps/uploadcare/.nvmrc
  apps/uploadcare/OVERRIDES.md
  apps/uploadcare/package-lock.json
  apps/uploadcare/package.json
  apps/uploadcare/src/locations/ConfigScreen/FieldSelector.tsx
  apps/uploadcare/src/locations/ConfigScreen/index.tsx
  apps/uploadcare/src/locations/Dialog.tsx
  apps/uploadcare/src/locations/Field/OpenDialogButton.tsx
  apps/uploadcare/src/locations/Field/Thumbnail.tsx
  apps/uploadcare/src/locations/Field/Thumbnails.tsx
  apps/uploadcare/src/types.ts
Owners: @igoradamenko

chore: add dep to be ignored by dependabot
  .github/dependabot.yml
Owners: @contentful/team-integrations

chore: add dep to be ignored by dependabot (#1180)
  .github/dependabot.yml
Owners: @contentful/team-integrations

chore: add more info to dep update process in readme
  README.md
Owners: @contentful/team-integrations

docs: add more info to dep update process in README (#1211)
  README.md
Owners: @contentful/team-integrations

Update selectImage.tsx
  apps/imageHotspotCreator/src/components/Image Selector/selectImage.tsx
Owners: @surya-sudoboat

fix: added install-ci script
  apps/hellotranslate/package.json
Owners: @contentful/team-integrations

fix: disabled vitest script
  apps/hellotranslate/package.json
Owners: @contentful/team-integrations

Update emotion and typescript versions
  apps/flexfields/package-lock.json
  apps/flexfields/package.json
  apps/flexfields/src/components/DefaultField.tsx
  apps/flexfields/src/components/RulesList.tsx
  apps/flexfields/src/locations/ConfigScreen.tsx
Owners: @vipulchadda

Fixing package lock error
  apps/flexfields/package-lock.json
Owners: @vipulchadda

Update apps/hellotranslate/package.json
  apps/hellotranslate/package.json
Owners: @contentful/team-integrations

added license
  apps/hellotranslate/LICENSE
  release-please-config.json
Owners: @contentful/team-integrations

fix: handle null fields in cloudinary
  apps/cloudinary2/src/locations/Field/index.tsx
Owners: @contentful/team-integrations

address code feedback
  apps/cloudinary2/src/locations/Field/index.tsx
Owners: @contentful/team-integrations

fix: handle null fields in cloudinary (#1550)
  apps/cloudinary2/src/locations/Field/index.tsx
Owners: @contentful/team-integrations

chore: bump ecom app base and remove unused ts dependency
  apps/shopify/package-lock.json
  apps/shopify/package.json
Owners: @contentful/team-integrations

fix: update placeholder text to reflect sku type
  apps/shopify/src/index.js
Owners: @contentful/team-integrations

fix: update placeholder text to reflect sku type
  apps/shopify/src/index.js
Owners: @contentful/team-integrations

chore: remove unused ts dependency
  apps/shopify/package-lock.json
  apps/shopify/package.json
Owners: @contentful/team-integrations

fix: placeholder text for Shopify SkuPicker [INTEG-2024] (#1607)
  apps/shopify/package-lock.json
  apps/shopify/package.json
  apps/shopify/src/index.js
Owners: @contentful/team-integrations

fix: added missing install-ci script
  apps/xillio-transcreate/package.json
Owners: @contentful/team-integrations

fix: missing shared types
  apps/xillio-transcreate/types/dtos/AuthenticatedDto.d.ts
  apps/xillio-transcreate/types/dtos/AuthenticatedDto.d.ts.map
  apps/xillio-transcreate/types/dtos/ConfigDto.d.ts
  apps/xillio-transcreate/types/dtos/ConfigDto.d.ts.map
  apps/xillio-transcreate/types/dtos/JobDto.d.ts
  apps/xillio-transcreate/types/dtos/JobDto.d.ts.map
  apps/xillio-transcreate/types/dtos/ProjectDto.d.ts
  apps/xillio-transcreate/types/dtos/ProjectDto.d.ts.map
  apps/xillio-transcreate/types/dtos/TranslationDto.d.ts
  apps/xillio-transcreate/types/dtos/TranslationDto.d.ts.map
  apps/xillio-transcreate/types/dtos/TranslationRequestDto.d.ts
  apps/xillio-transcreate/types/dtos/TranslationRequestDto.d.ts.map
  apps/xillio-transcreate/types/dtos/TranslationStatusDto.d.ts
  apps/xillio-transcreate/types/dtos/TranslationStatusDto.d.ts.map
  apps/xillio-transcreate/types/dtos/TranslationTransitionDto.d.ts
  apps/xillio-transcreate/types/dtos/TranslationTransitionDto.d.ts.map
  apps/xillio-transcreate/types/dtos/TranslationUpdateDto.d.ts
  apps/xillio-transcreate/types/dtos/TranslationUpdateDto.d.ts.map
  apps/xillio-transcreate/types/dtos/index.d.ts
  apps/xillio-transcreate/types/dtos/index.d.ts.map
  apps/xillio-transcreate/types/index.d.ts
  apps/xillio-transcreate/types/index.d.ts.map
  apps/xillio-transcreate/types/package.json
Owners: @contentful/team-integrations

fix: release script
  apps/xillio-transcreate/.gitignore
  apps/xillio-transcreate/package-lock.json
  apps/xillio-transcreate/package.json
  apps/xillio-transcreate/src/locations/ConfigScreen/ConfigScreen.spec.tsx
  apps/xillio-transcreate/src/locations/Sidebar/Sidebar.spec.tsx
  apps/xillio-transcreate/types/dist/dtos/AuthenticatedDto.d.ts
  apps/xillio-transcreate/types/dist/dtos/AuthenticatedDto.d.ts.map
  apps/xillio-transcreate/types/dist/dtos/ConfigDto.d.ts
  apps/xillio-transcreate/types/dist/dtos/ConfigDto.d.ts.map
  apps/xillio-transcreate/types/dist/dtos/JobDto.d.ts
  apps/xillio-transcreate/types/dist/dtos/JobDto.d.ts.map
  apps/xillio-transcreate/types/dist/dtos/ProjectDto.d.ts
  apps/xillio-transcreate/types/dist/dtos/ProjectDto.d.ts.map
  apps/xillio-transcreate/types/dist/dtos/TranslationDto.d.ts
  apps/xillio-transcreate/types/dist/dtos/TranslationDto.d.ts.map
  apps/xillio-transcreate/types/dist/dtos/TranslationRequestDto.d.ts
  apps/xillio-transcreate/types/dist/dtos/TranslationRequestDto.d.ts.map
  apps/xillio-transcreate/types/dist/dtos/TranslationStatusDto.d.ts
  apps/xillio-transcreate/types/dist/dtos/TranslationStatusDto.d.ts.map
  apps/xillio-transcreate/types/dist/dtos/TranslationTransitionDto.d.ts
  apps/xillio-transcreate/types/dist/dtos/TranslationTransitionDto.d.ts.map
  apps/xillio-transcreate/types/dist/dtos/TranslationUpdateDto.d.ts
  apps/xillio-transcreate/types/dist/dtos/TranslationUpdateDto.d.ts.map
  apps/xillio-transcreate/types/dist/dtos/index.d.ts
  apps/xillio-transcreate/types/dist/dtos/index.d.ts.map
  apps/xillio-transcreate/types/dist/index.d.ts
  apps/xillio-transcreate/types/dist/index.d.ts.map
  apps/xillio-transcreate/types/package.json
Owners: @contentful/team-integrations, @contentful/team-developer-experience

chore(do not merge): don't do it
  apps/bynder/README.md
Owners: @contentful/team-integrations

chore(bynder): upgrade to react v18 and dam-app-base v3
  apps/bynder/package-lock.json
  apps/bynder/package.json
Owners: @contentful/team-integrations

feat: Transifex app remove the default locale restriction
  apps/transifex/src/locations/ConfigScreen.jsx
Owners: @foteinigk

chore(bynder): upgrade to react v18 and dam-app-base v3 (#1768)
  apps/bynder/package-lock.json
  apps/bynder/package.json
Owners: @contentful/team-integrations

fix: Wrap cma with useMemo to prevent unnecessary renderings
  apps/adapt-essentials-asset-fields/src/components/hooks/useCMA.tsx
Owners: @zzzarius

.github/CODEOWNERS:

* @contentful/team-integrations
apps/*/src @contentful/team-integrations @contentful/team-developer-experience
apps/*/public @contentful/team-integrations @contentful/team-developer-experience

apps/adapt-essentials-asset-fields/ @zzzarius 
apps/bynder/ @contentful/team-integrations
apps/cloudinary/ @contentful/team-integrations
apps/cloudinary2/ @contentful/team-integrations
apps/flexfields/ @vipulchadda 
apps/imageHotspotCreator/ @surya-sudoboat
apps/intershop/ @two-point-o 
apps/shopify/ @contentful/team-integrations
apps/surfer/ @marcinwysocki
apps/transifex/ @foteinigk
apps/uploadcare/ @igoradamenko
apps/voucherify/ @weronika-kurczyna
apps/wix/ @carmelc
